.card {
  margin-left: 60px;
  max-width: 400px;
  height: 221px;
  margin-top: 30px;
  background-color: #ECEFF1;
}


ul{
	list-style: none;
	display: flex;
}
img{
		width: 70px;
    height: 70px;
    border-radius: 50%;
    background-size: cover;
}
.user-title{
margin-left: 70px;
}
.user-title mat-card-title {
	text-align: left;
	font-size: 22px;
	font-weight: bold;
	color: #212121;
}

.user-title mat-card-subtitle {
	text-align: left;
	margin-top: -15px;
	color:#607D8B;
	font-size: 14px;
}
mat-card-content{
	margin-left: 25px;
	text-align: left;
	display: inline;
}
#label{
	font-weight: bold;
}

pagination-controls{
	position: fixed;
	top: 720px;
	z-index: 1000;

}
.search-input {
    position: fixed;
  z-index: 100000;
  top:30px; 
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  
width: 20%;
  background: #f1f1f1;
  -webkit-transition: width,height 2s;
  transition: width,height 2s;
}
.search-input:focus {
width: 21%;
height:25px;



}



.content{
	margin-top: 130px;
}
.notification{
	font-weight: bold;
}
.item-name{
	font-size: 20px;
}
.footer{background-color: #37474f;
} 

.footer .footer-button-previous{
	font-size: 18px;
	color:#fff;
	padding-top: 18px;
	padding-left:80px;
	


}
.footer .footer-button-next{
	font-size: 18px;
	color:#fff;
	padding-top: 18px;
	padding-left: 150px;
	
	

}
.icon-edit{
	position: absolute;
	left: 170px;
	top: -20px;
}
.icon-delete{
	position: absolute;
	left: 215px;
    top: 226px;

}

.icon-add{
	z-index: 1000;
	position: absolute;
	top: 70px;
	left: 1511px;

}
.container{
 margin-left: 120px;
  
}
.popup-form{
	z-index: 1000;
	position: absolute;
	left: 553px;
top: 141px;
	
	width: 458px;
background-color: #00897B;
height: 486px;

}
.form-group{
margin-top: 40px;
height: 25px;
}
.form-control{
	height: 25px;
	padding: 8px;
	width: 238px;
}
.form-control-drop{
	height: 40px;
	padding: 8px;
	width: 256px;
}
.submit-button{
margin-top: 62px;
height: 50px;
width: 143px;
}
.disable-background{
	height: 678px;
width: 100%;
background-color: #0ffffff;
margin-top: -410px;
z-index: 1000;
position: absolute;

}
.icon-close{
	z-index: 1000;
	position: absolute;
left: 423px;
top: 5px;
}